{% extends 'base.html' %}
{% block title %}Name Wall{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="#" method="post">
        <p>Name:</p>
        <p><input type="text" name="nm" placeholder="Your Name" value="{{nm if nm}}" /></p>
        <p><input type="submit" value="submit" /></p>
    </form>

    {% with names = get_names() %}
        {% if names %}
            {% for item in names %}
                <p>{{item.name}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}